.container{
    width: 85%;
    margin: 0 auto;
}
.upperMenu li::after{
    content: '|';
    color: rgb(255, 255, 255);
    padding-left: 15px;
}
.upperMenu li:last-child::after{
    content: '';
}
.loginBtn::after {
    content: '/';
    color: rgb(46, 46, 46);
    padding-left: 10px;
}
/* Head Icon */
.head-icon{
    color: white;
    background-color: #659833;
    padding: 12px;
    border-radius: 50%;
}
/* Button Style */
.circle-hover-effect {
    position: relative;
    overflow: hidden;
  }
  
  .circle-hover-effect::before {
    content: '';
    position: absolute;
    background-color: #fe9505;
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle-hover-effect:hover::before {
    width: 300px;
    height: 300px;
  }
  
  .circle-hover-effect span {
    position: relative;
    z-index: 1;
  }

  /* Spiner */
  @keyframes spin-slow {
    to {
      transform: rotate(360deg);
    }
  }

  .spin-slow {
    animation: spin-slow 10s linear infinite;
  }